*{
    margin: 0px;
    padding: 0px;
}

.container{
    background: rgb(208, 250, 234);
    height: 100vh;
    width: 100vw;
    position: relative;
}

.calculator{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
    padding: 20px;
}

input{
    font-size: 20px;
    height: 50px;
    width: 50px;
    margin: 2px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: blue;
}

#equal{
    font-size: 20px;
    height: 50px;
    width: 108px;
    margin: 2px;
}

.oprator{
    background-color: red;
    color: white;
}

input:hover{
    color: white;
    background-color: darkblue;
}

#display{
    background-color: white;
    border-radius: 10px;
    width: 210px;
    color: black;
    height: 30px;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    text-align: right;
}
